{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<!doctype html>
<html lang="en" class="govuk-template govuk-template--rebranded">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% block title %}
      {% if pageTitle %}
        {% set title = pageTitle ~ ' | ' ~ serviceName %}
      {% else %}
        {% set title = serviceName %}
      {% endif %}
      <title>{{ title }}</title>
    {% endblock %}
    <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
  </head>
  <body class="govuk-template__body govuk-template--rebranded">
    <script nonce="{{ cspNonce.script }}">
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    <header class="govuk-header" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="/" class="govuk-header__link">
            <span class="govuk-header__logo-container">Department<br>for Environment,<br>Food &amp; Rural Affairs</span>
          </a>
        </div>
      </div>
    </header>

    {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: '/',
      navigation: [
        { href: '/tools', text: 'Tools', active: page == 'tools' },
        { href: '/frameworks', text: 'Frameworks', active: page == 'frameworks' },
        { href: '/techniques', text: 'Techniques', active: page == 'techniques' },
        { href: '/platforms', text: 'Platforms', active: page == 'platforms' }
      ]
    }) }}

    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-width-container">
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer class="govuk-footer">
      <div class="govuk-width-container">
        <div class="govuk-footer__meta">
          <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
            <p class="govuk-body">
              If you have any questions or feedback about this radar, or its content, please contact the AICE team via Slack <a class="govuk-footer__link" href="{{ aceSlackChannel }}">#ask-ace</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script type="module" src="{{ getAssetPath('application.js') }}"></script>
  </body>
</html>
