{% macro status_classifications() %}
  <h2 class="govuk-heading-m govuk-!-margin-top-6">Status classifications</h2>
  <dl class="govuk-summary-list govuk-!-margin-top-2">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><span class="govuk-tag govuk-tag--green">Endorse</span></dt>
      <dd class="govuk-summary-list__value">Endorsed by AICE for use by teams within approved guidelines and appropriate support.</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><span class="govuk-tag govuk-tag--blue">Pilot</span></dt>
      <dd class="govuk-summary-list__value">Currently being piloted with specific teams or projects, with plans for wider endorsement if successful.</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><span class="govuk-tag govuk-tag--orange">Assess</span></dt>
      <dd class="govuk-summary-list__value">Under evaluation by <strong>AICE only</strong> and should not be used by teams without prior consultation</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key"><span class="govuk-tag govuk-tag--red">Do Not Use</span></dt>
      <dd class="govuk-summary-list__value">Avoid or plan to migrate away due to security, licensing, or support issues.</dd>
    </div>
  </dl>
{% endmacro %}
