{% extends "common/layout.njk" %}
{% from "common/status-classifications.njk" import status_classifications, ring_tag %}
{% from "common/radar-entries.njk" import radar_entries, radar_ring_labels %}

{% block title %}
  <title>Frameworks | {{ serviceName }}</title>
{% endblock %}

{% set page = 'frameworks' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Frameworks</h1>
    </div>
  </div>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half radar-quadrant radar-quadrant--sticky">

      <object class="radar-svg" id="radar-frameworks" type="image/svg+xml" data="{{ getAssetPath('assets/tech-radar/aice-tech-radar-frameworks.svg') }}">
        <img src="{{ getAssetPath('assets/tech-radar/aice-tech-radar-frameworks.png') }}" alt="Frameworks quadrant">
      </object>

      <div>
        {{ radar_ring_labels('standard') }}
      </div>

      {{ status_classifications() }}
    </div>

    <div class="govuk-grid-column-one-half">
      {{ radar_entries(model.rings) }}
    </div>
  </div>
{% endblock %}
