@use '../variables/colours' as *;

.defra-footer {
  background-color: #f3f2f1;
  border-top: 10px solid $defra-green;
  padding: 25px 0;
}

.defra-footer__link {
  color: #0b0c0c;
  text-decoration: underline;

  &:hover {
    color: #0b0c0c;
    text-decoration-thickness: 3px;
  }

  &:focus {
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    outline: 3px solid transparent;
    color: #0b0c0c;
    text-decoration: none;
  }
}