@use '../variables/colours' as *;

.defra-hero {
  background-color: $defra-green;
  color: #ffffff;
  padding: 40px 15px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .govuk-heading-xl,
  .govuk-body-l {
    color: #ffffff;
  }
}