{% extends "common/layout.njk" %}
{% from "common/status-classifications.njk" import status_classifications, ring_tag %}
{% from "common/radar-entries.njk" import radar_entries, radar_ring_labels %}

{% block title %}
  <title>Techniques | {{ serviceName }}</title>
{% endblock %}

{% set page = 'techniques' %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Techniques</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half radar-quadrant radar-quadrant--sticky">
        {{ radar_ring_labels('reversed', ['Do Not Use', 'Assess', 'Pilot', 'Endorse']) }}

        <object class="radar-svg" id="radar-techniques" type="image/svg+xml" data="{{ getAssetPath('assets/tech-radar/aice-tech-radar-techniques.svg') }}">
          <img src="{{ getAssetPath('assets/tech-radar/aice-tech-radar-techniques.png') }}" alt="Techniques quadrant">
        </object>

        {{ status_classifications() }}
      </div>

      <div class="govuk-grid-column-one-half">
        {{ radar_entries(model.rings) }}
      </div>
{% endblock %}
